<a href="https://colab.research.google.com/github/Tanveer66/Data_Science/blob/BookUpTrunk/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

# Introduction
    In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1.   Python
2.   Rust
3.   R

#   **Data Science Tools**
     1. Jupyter Notebook
     2. Anaconda
     3. RStudio

# Some of the commonly used libraries used by Data Scientists include:


1. NumPy
2. Pandas
3. Matplotlib

# Below are a few examples of evaluating arithmetic expressions in Python


    . 3 + 4
    . 4 % 2
    . 4 *3
    . 3 ** 2

In [ ]:
#this line of code is product of two integers: 3 multiplay with 2
print(3 * 2 )

#this line of code add two integer numbers and print them
print(3 + 4)

In [1]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

# **Objectives**:


##   List of popular languages for data science
*   Python
*   R
*   Rust

# **Author Name**
 **Tanveer Ahamd**